@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrap{
    width:1170px;
    margin: 0 auto;
}

.wrap_sl{
    width: 1030px;
}

.button{
    display: inline-block;
    font-weight: 700;
    background: #2500f9;
    color: #fff;
    padding: 16px 40px;
    border-radius: 32px;
    text-decoration: none;
}

.title{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.27;
    color: #242f51;
    margin: 0;
    margin-bottom: 15px;
}

.text{
    font-size: 16px;
    color: #616368;
    font-weight: 400;
    line-height: 1.85;
    letter-spacing: -0.3px;
    margin: 0;
}

.subtitle{
    font-size: 20px;
    color: #242f51;
    font-weight: 600;
    margin: 0;
}


.cards{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.cards__item-wrap{
    background: #eee;
    border-radius: 100%;
    width: 88px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cards__icon{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

/*========= header =================*/

.header{
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;
    padding-top: 90px;
    box-sizing: border-box; /*свойство запрещающее масштабироваться элементу за счет padding и border*/
}

.header__wrap{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    color: #242f51;
}

.logo__color{
    color: #fcae61;
}

.menu__list{
    display: flex;
    align-items: center;
    list-style: none;
}

.menu__item{
    margin-left: 32px;
}

.menu__link{
    color:  #242f51;
    text-decoration: none;
    font-size: 16px;
}

.menu__button{
    color: #fff;
}

/*========= welcome =================*/

.welcome{
    background: url(img/city.png) #fdfdfe bottom center no-repeat; 
    background-size: 100%;
    height: 100vh;
}

.welcome__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 150px;
    box-sizing: border-box;
}

.welcome__img{
    width: 400px;
}

.welcome__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.welcome__awards{
    background: #e2eaed;
    display: flex;
    align-items: center;
    padding-right: 50px;
    border-radius: 30px;
    color: #242f51;
    font-size: 18px;
    margin: 0;
}

.welcome__achivment{
    height: 40px;
    width: 40px;
    background: #feaa25;
    border-radius: 30px;
    margin-right: 8px;
}

.welcome__title{
    color: #242f51;
    font-size: 60px;
    line-height: 1.25;
    margin: 22.5px 0;
}

.welcome__text{
    font-size: 18px;
    color: #616368;
    margin: 0;
    margin-bottom: 35px;
}

.welcome__button{
    margin-right: 25px;
}

.welcome__link{
    font-size: 16px;
    color: #2500f9;
    text-decoration: none;
}

/*=============== companies ==================*/

.companies{
    padding: 110px 0 80px;
}

.companies__title{
    color: #242f51;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.companies__list{
    margin: 30px 0 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*=============== features ==================*/

.features__images{
    position: relative;
    right: 50px;
}

.features__bg{
    position: absolute;
    bottom: 0;
    left: -60px;
    z-index: -1;
}

.features__img{
    width: 580px;
}

.features__wrap{
    display: flex;
    margin-bottom: 80px;
}

.features__info{
    width: 430px;
}

.features__title{
    margin: 0;
    margin-bottom: 15px;
}

.features__cards{
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.features__card-info{   
    width: 270px;
    margin-left: 30px;
}

.features__text{
    margin: 0;
    margin-bottom: 50px;
}

.cards__item-wrap-time{
    background:#ffecef;
}

.cards__item-wrap-phototyping{
    background: #f4f4ff;
}

.cards__item-wrap-vector{
    background-color: #e4ffee;
}

.subtitle-time{
    color: #f996a0;
}

.subtitle-phototyping{
    color: #2563ff;
}

.subtitle-vector{
    color: #40975f;
}

/*=============== jackpot ==================*/

.smart__jackpot-wrap{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 80px;
}

.smart__jackpot__wrap-border{
    width: 500px;
    border-right: 1px solid #b9b9b8;;
}

.smart__jackpot-wrap-title{
    width: 420px;
}

.smart__jackpot-wrap-text{
    margin-left: 80px;
    
    display: flex;
    align-items: center;
    flex: 1;
}

/*=============== advantages ==================*/

.advantages__cards__wrap{
    margin: 100px 0 60px 250px;
    display: flex;
    align-items: center;
    justify-content: start; 
}

.advantages__card{
    display: block;
    margin: 0 0 0 130px;
}

.advantages__card-info{
    width: 270px;
}

.subtitle-advantages{   
    margin: 30px 0 10px 0;
}

/*=============== design ==================*/

.design__wrap{
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.design__img{
    width: 630px;
}

.design__info{ 
    width: 410px;
    padding-left: 120px;
}


/*=============== why ==================*/

.why__wrap{
    width: 970px;
    text-align: center;
    padding-bottom: 50px;
}

.why__title{
    display: inline-block;
    width: 500px;
    padding-bottom: 25px;
}

.why__text{
    display: inline-block;
    width: 610px;
    padding-top: 25px;
}


.why__cards-wrap{
    text-align: center;
    margin-right: 350px;
    margin-left: -10px;
}

.why__icon__wrap{
    display: flex;
    justify-content: center;
}

.cards__item-wrap-net{
    background: #fff6d3;
}


.why__card{
    margin-bottom: 100px;
}



